In [1]:
import pandas as pd

In [7]:
df= pd.read_excel("bankloan.xlsx")

In [9]:
df.head()

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default
0,41,Some college,17,12,176,9.3,11.359392,5.008608,Yes
1,27,Did not complete high school,10,6,31,17.3,1.362202,4.000798,No
2,40,Did not complete high school,15,14,55,5.5,0.856075,2.168925,No
3,41,Did not complete high school,15,14,120,2.9,2.658720,0.821280,No
4,24,High school degree,2,0,28,17.3,1.787436,3.056564,Yes

In [10]:
df.describe()

,age,employ,address,income,debtinc,creddebt,othdebt
count,850.000000,850.000000,850.000000,850.000000,850.000000,850.000000,850.000000
mean,35.029412,8.565882,8.371765,46.675294,10.171647,1.576805,3.078789
std,8.041432,6.777884,6.895016,38.543054,6.719441,2.125840,3.398803
min,20.000000,0.000000,0.000000,13.000000,0.100000,0.011696,0.045584
25%,29.000000,3.000000,3.000000,24.000000,5.100000,0.382176,1.045942
50%,34.000000,7.000000,7.000000,35.000000,8.700000,0.885092,2.003243
75%,41.000000,13.000000,12.000000,55.750000,13.800000,1.898440,3.903001
max,56.000000,33.000000,34.000000,446.000000,41.300000,20.561310,35.197500

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       850 non-null    int64
 1   ed        850 non-null    object
 2   employ    850 non-null    int64
 3   address   850 non-null    int64
 4   income    850 non-null    int64
 5   debtinc   850 non-null    float64
 6   creddebt  850 non-null    float64
 7   othdebt   850 non-null    float64
 8   default   700 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 59.9+ KB

In [12]:
df.shape

(850, 9)

In [13]:
df.count()

age         850
ed          850
employ      850
address     850
income      850
debtinc     850
creddebt    850
othdebt     850
default     700
dtype: int64

In [14]:
print(df.isnull().sum())

age           0
ed            0
employ        0
address       0
income        0
debtinc       0
creddebt      0
othdebt       0
default     150
dtype: int64